# IDE related files
workspace.code-workspace
.idea
.vscode
*.code-workspace
.cwtools

# Misc files
Thumbs.db
log.txt

# Temporary backup saves
TMP/*.eu4

deploy/gfx/models/Units/.mayaSwatches/

deploy.zip
descriptor.mod