.idea

# Python
*.pyc

# Script temporary files
**/*.log

# Script results
/localisation/logs
/localisation/stats
/localisation/output

code generation/**/*.txt
code generation/culture assimilation/icons/*
code generation/elysian highways/icons/*